:root{
    --black: rgb(0, 0, 0);
    --grey: rgba(138, 141, 143, 0.651);
    --red: rgb(112, 6, 6);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    color: var(--black);
    font: 18px/1.618 sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color:var(--red);
    text-decoration: none;
    padding: 3px;
}
a:hover{
    background-color: royalblue;
    border-radius: 15px;
    transition: 1s;
}
.container{
    background-image: url(assets/pexels-pixabay-235985.jpg);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_nav_list{
    font-size: 150%;   
}
h1{
    font-size: 300%;
    margin-left: 75px;
}
.header_nav_list_item{
    list-style-type:none;
    margin: 5px;
}
.about_me_section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1rem auto;
    row-gap: 50px;
    padding: 1rem;
}
.about_me_header{
    grid-column: 1;
    grid-row: 1;
    padding-left: 7%;
}
.about_me_photo{
    grid-column: 1;
    grid-row: 2;
    padding-left: 25%;
}
.profile_image{
    height: 20rem;
    max-width: 75%;
    -webkit-box-shadow: 4px 17px 31px -2px rgba(0,0,0,.5);
    -moz-box-shadow: 4px 17px 31px -2px rgba(0,0,0,.5);
    box-shadow: 4px 17px 31px -2px rgba(0,0,0,.5);
}
.about_me_text{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    padding-right: 30%;
    padding-top: 50px;
}
.project_header{
    padding-left: 5%;
}
.project_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
}

.project_image{
    height: 20rem;
    max-width: 75%;
    -webkit-box-shadow: 4px 17px 31px -2px rgba(0,0,0,.5);
    -moz-box-shadow: 4px 17px 31px -2px rgba(0,0,0,.5);
    box-shadow: 4px 17px 31px -2px rgba(0,0,0,.5);
}
.footer{
    text-align: center;
    background-color: darkgrey;
}
@media only screen and (max-width: 1000px){
    .header{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .header_nav_list{
        display: flex;
        margin: 0;
        flex-direction: column;
        justify-content: center;
    }
    .about_me_section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer_copyright{
        margin: 0;
    }
    
    }